{% load static %}

{% load i18n %}
{% load account socialaccount %}




<link href="{% static 'style.css' %}" rel="stylesheet">

{% block content %}



<body id="body-signup" style="margin: 0; text-align: center; font-family: Montserrat, sans-serif;">

  

  <div id="home-page-wrapper-signup" style="height: 100vh;width: 100vw;display: flex;justify-content: center;align-items: center;">

    <div id="login-container" style="padding: 70px 40px;border-radius: 25px;background: #FAFAFA;box-shadow: 3px 5px 25px #888888;width: 80%;max-width: 500px;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );">

      <div id="container" style="font-family: 'Roboto', sans-serif; font-size: bolder;text-align: center;"><span style="font-size: 4rem;text-align: center;"><strong>[ iBoda ]</strong></span></div>

      <h2 style="text-align: center; color: black; font-family: Gill Sans, sans-serif; ">Sign Up</h2>
      {% get_providers as socialaccount_providers %}

      <p style="color: darkgrey;">{% blocktrans %}
    <a href="{{ login_url }}" style="
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;">SIGN IN</a> {% endblocktrans %}</p>
    
       
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" style="margin-top: 25px;display: flex;flex-direction: column;gap: 15px;">
        {% csrf_token %}
        
        <div class="input-group" style="display: flex;flex-direction: column;margin: 10px 0;">
          <input type="text" id="login-user" placeholder="Email" id="text" name="email" class="input-username" 
          style="font-size: 1.1rem;padding: 8px;text-align: center;background: hsl(264, 100%, 94%, 0.7);color:rgb(69,69,69);border: none;outline: none;border-radius: 25px;width: 80%;margin: 0 auto;font-weight: bold;"> 
        </div>

        <div class="input-group" style="display: flex;flex-direction: column;margin: 10px 0;">
          <input type="text" id="login-user" placeholder="Username" id="text" name="username" class="input-username" 
          style="font-size: 1.1rem;padding: 8px;text-align: center;background: hsl(264, 100%, 94%, 0.7);color:rgb(69,69,69);border: none;outline: none;border-radius: 25px;width: 80%;margin: 0 auto;font-weight: bold;"> 
        </div>

        <div class="input-group" style="display: flex;flex-direction: column;margin: 10px 0;">
          <input type="password" id="login-user" placeholder="Password" id="text" name="password1" class="input-username" 
          style="font-size: 1.1rem;padding: 8px;text-align: center;background: hsl(264, 100%, 94%, 0.7);color:rgb(69,69,69);border: none;outline: none;border-radius: 25px;width: 80%;margin: 0 auto;font-weight: bold;">
          <small> * a password tem de ter pelo menos 8 caracteres e pelo menos 1 numero</small> 
        </div>   

        <div id="input-group">
          <input id="login-pass" type="password" placeholder="Confirm Password" id="password" name="password2" class="input-password" style="font-size: 1.1rem;padding: 8px;text-align: center;background: hsl(264, 100%, 94%, 0.7);color:rgb(69,69,69);border: none;outline: none;border-radius: 25px;width: 80%;margin: 0 auto;font-weight: bold;">
        </div>

        <!--<div id="input-group">
          <input id="login-pass" type="date" placeholder="Confirm Password" id="password" name="birth" class="input-password" style="font-size: 1.1rem;padding: 8px;text-align: center;background: hsl(264, 100%, 94%, 0.7);color:rgb(69,69,69);border: none;outline: none;border-radius: 25px;width: 80%;margin: 0 auto;font-weight: bold;">
        </div>

        <div id="input-group">
          <input id="login-pass" type="text" placeholder="Cidade" id="password" name="city" class="input-password" style="font-size: 1.1rem;padding: 8px;text-align: center;background: hsl(264, 100%, 94%, 0.7);color:rgb(69,69,69);border: none;outline: none;border-radius: 25px;width: 80%;margin: 0 auto;font-weight: bold;">
        </div>-->

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button id="login-button" class="btn btn-dark primaryAction" type="submit" 
        style="cursor: pointer;font-size: .9rem;margin: 10px auto 0;padding: 12px 5px;width: 35%;border-radius: 100px;border: none;outline: none;color: white;background: linear-gradient(90deg, rgba(214,109,93,1) 0%, rgba(255,149,88,1) 71%);font-weight: bold; transition: 0.3s;"style="cursor: pointer;font-size: .9rem;margin: 10px auto 0;padding: 12px 5px;width: 35%;border-radius: 100px;border: none;outline: none;color: white;background: linear-gradient(90deg, rgba(214,129,93,1) 0%, rgba(255,149,88,1) 71%);font-weight: bold; transition:0.3s;">
          {% trans "Sign Up" %}</button>      
        
      </form>    
    </div>
  </div>
</body>
{% endblock %}