@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');



nav {
   width: 100%;
   
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   position: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
   -webkit-box-shadow: 1px 1px 1px 1px #eee;
           box-shadow: 1px 1px 1px 1px #eee;
  background-color: purple;
}


.site {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  
  background: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}


nav h2 {
   color: black;
   margin-left: 10%;
   font-size: 25px;
   margin-top: 5px;
   margin-left: 10px;
   margin-right: 20px;
   font-family: 'Roboto Serif', serif; 
   font-size: bolder;
   text-align: center;
}


#span-nav {
   width: 2px;
   height: 45px;
   margin-left: 10px;
   margin-right: 10px;
   background: black;  
} 
.site #search {
  margin: 0 auto;
  justify-content: center;
 -webkit-box-flex: 9;
     -ms-flex: 9;
         flex: 3;
 height: 60px;
 
 
}


.site #search input{
  
  font-size: 15px;
  background: #eee;
  border: none;
}
#search input[type="text"],
#search input[type="date"],
#search select {
   
   border-radius: 4px;
   -webkit-transition: 400ms ease-in-out;
   -o-transition: 400ms ease-in-out;
   transition: 400ms ease-in-out;
}
#search input[type="text"]:hover,
#search input[type="date"]:hover,
#search select: hover{
   -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
           box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#search input[type="text"]:focus,
#search input[type="date"]:focus,
#search select: focus{
   color: #999;
   background: #222;
   -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
           box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
::-webkit-input-placeholder{
   text-align: center;
}

input:focus::-webkit-input-placeholder {
   font-weight: 900;
   text-align: center;
}

.site div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.site div a {  
  color: #bbb;
  width: 40px;
  height: 40px;  
  padding: 7px;
   text-align: center;
   font-size: 22px;
   -webkit-transition: 100ms ease-in-out;
   -o-transition: 100ms ease-in-out;
   transition: 100ms ease-in-out;
}

.site div a:hover {  
  font-size: 20px;
   color: #000;  
}

input:focus {
  outline:0;
}

@media screen and (max-width: 800px){
  .site  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: fle-xstart;
        -ms-flex-pack: fle-xstart;
            justify-content: fle-xstart;
               padding: 0px;
               background: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 1.5em;
   padding-bottom: 2.5em;
  height: 200px;
   
  }
   
   
   .site > #search > input[type="text"] {
      height: 50px;
      width: 340px;
      padding: 20px;
      border-radius: 4px;
}
   
   span {
      display: none;
   }
   h2 {
      display: none;
   }
 
}


/* ICONS  */

.fa-user-o, .fa-shopping-bag {
   color: #000;
   font-weight: 900;
}

.fa-heart {
   color: #fa3380;
}


/*  FOLLOW*/
.Follow {     background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
   width: 50px;
   height: 50px;
   bottom: 9px;
   right: 20px;
   display:block;
   position:fixed;
   border-radius:50%;
   z-index:999;
   animation:  rotation 10s infinite linear;
   }

@-webkit-keyframes rotation {
      from {
            -webkit-transform: rotate(0deg);
      }
      to {
            -webkit-transform: rotate(359deg);
      }
}


#post-input-dropdown-nav{
  
  
  
transition: 0.5s;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 15px) calc(1em + 3px),
    calc(100% - 10px) calc(1em + 3px),
    calc(100% - .3em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;

}

#post-input-dropdown-nav:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 10px) 1em,
    calc(100% - 15px) 1em,
    calc(100% - .3em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
outline: none;
}

#post-input-dropdown-nav::after { content: "\25b6"; }



