@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');



*{
  font-family: 'Exo', sans-serif;
}

.remove-default-btn {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

#like-dado{
	color:rgb(60,255,60);
	transition-duration: 0.4s;
}
#like-dado:hover{
	padding-right: 24px;
  	padding-left:100px;
  	color:rgb(230, 36, 9);

}
#like-dado:after {
	font-family: "Lucida Console", "Courier New", monospace;
  content: 'Não Vou!';
  position: absolute;
  opacity: 0;  
  left: -40px;
  color:rgb(230, 36, 9);
  transition: 0.5s;
}

#like-dado:hover:after {
  opacity: 1;
  left: 10px;
  color:rgb(230, 36, 9);
}


#sem-like{
	color: grey;
	transition-duration: 0.4s;
}
#sem-like:hover{
	padding-right: 24px;
  	padding-left:50px;
  	color:rgb(80,200,80);

}
#sem-like:after {
	font-family: "Lucida Console", "Courier New", monospace;
  content: 'Vou!';
  position: absolute;
  opacity: 0;  
  left: -40px;
  color:rgb(80,200,80);
  transition: 0.5s;
}

#sem-like:hover:after {
  opacity: 1;
  left: 10px;
  color:rgb(80,200,80);
}



#fullscreen-container{
  background-image: url('bg.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#login-user,
#login-pass{
  font-size: 1.1rem;
  padding: 8px;
  text-align: center;
  background: hsl(264, 70%, 100%, 0.7);
  color:rgb(255,255,255);
  border: none;
  outline: none;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
  color: red;
}

#login-user::placeholder,
#login-pass::placeholder {
  color: rgb(0,0,0);
  font-weight: bold;
}

#login-user:focus::placeholder,
#login-pass:focus::placeholder{
  color: transparent;
}



#login-button:focus,
#login-button:hover {
  box-shadow: 0 0 0 4px rgba(110, 110, 110, 0.40);

}


#waviy {
  position: relative;
}
#waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

#container {
  
  margin-left: 25%;
  display: flex;
  margin-bottom: 10%;
  
}
#container>span{
  animation: shake 0.5s infinite;
  font-size: 4rem;
  color: black;
  text-align: center;
}

@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}


:root {
 --black: #1B1927;
 --indigo: #956FFF;
 --indigo-faded: rgba(149, 111, 255, 0.5);
 --pink: #E57CF2;
 --font-color: #DDD;
 --main-font: 'Roboto', sans-serif;
}
#body-login {
 padding:0;
 margin: 0;
 font-family: var(--main-font);
 background: var(--black);
 transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
 scroll-behavior: smooth;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100vw;
 background-image: url('https://i.pinimg.com/originals/45/3d/81/453d816d7d25d5a4aa075a8c64c79818.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 animation: bg 10s linear infinite;
}

#body-signup {
 padding:0;
 margin: 0;
 font-family: var(--main-font);
 background: var(--black);
 transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
 scroll-behavior: smooth;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100vw;
 background-image: url('https://i.pinimg.com/originals/45/3d/81/453d816d7d25d5a4aa075a8c64c79818.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 animation: bg 10s linear infinite;
}


#name-demo {
 color: #FF0000;
}


@keyframes bg {

0% {
 background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2016/06/09/980778/198ff9cc76f5a86ad1de61447a01a57b.jpg');
}
50% {
 background-image: url('https://widefuture.com/wp-content/uploads/2019/02/hearthands.jpg');
}
100% {
background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2016/06/09/980778/198ff9cc76f5a86ad1de61447a01a57b.jpg');
}}


#post-list-bg{
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000000% 100000%;
  animation: gradient 15s ease infinite;
  height: auto;
  font-family: 'Exo', sans-serif;
  
  background-repeat: no-repeat;*/
  background-color: rgb(235, 236, 240);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



#post-label {
display: block;
margin-bottom: 24px;
width: 100%;
border-radius: 50%;
}
#post-button,
#post-input{
  border: 0;
  outline: 0;
  font-size: 13px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}


#post-input-dropdown{
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  border-radius: 20 px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border: 0;
  outline: 0;
  font-size: 13px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 15px) calc(1.5em + 2.5px),
    calc(100% - 10px) calc(1.5em + 2.5px),
    calc(100% - .5em) 1em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;

}

#post-input-dropdown:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 10px) 1.5em,
    calc(100% - 15px) 1.5em,
    calc(100% - .5em) 1em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
outline: none;
}

#post-input-dropdown::after { content: "\25b6"; }




#post-input {

margin-right: 8px;
box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
width: 100%;
border-radius: 20 px;
box-sizing: border-box;
transition: all 0.2s ease-in-out;
appearance: none;
-webkit-appearance: none;
border: none;
}
#post-input:focus {
box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
outline: none;
}
#post-button {
color: #61677C;
font-weight: bold;
box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
transition: all 0.2s ease-in-out;
cursor: pointer;
font-weight: 600;
border: none;
outline: none;
}
#post-button:hover {
box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
#post-button:active {
box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

#modal-button,
#modal-button-no-login{
  color:#666;
  height:50px;
  width:100%;
  font-size: 13px;
  margin-bottom: 20px;
  border-radius: 50px;
  border:0;
  box-shadow: 0px 3px 8px #aaa,
  inset 5px 5px 15px 2px #fff,
  inset -3px -5px 10px  #aaa,
  0px -5px 10px 3px #fff;
  background-color: #f2f2f2;
  outline: none;
  border: none;
}
#modal-button:active,
#modal-button-no-login:active{
  animation-name: pressed;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  outline: none;
  border: none;
}

@keyframes pressed{
  50%{
    box-shadow: none;
    outline: none;
  border: none;
  }
  100%{
    box-shadow: inset 3px 3px 15px #aaa,
    inset -5px -5px 5px 2px #fff,
     0px 1px 3px #aaa;
    color:#7a7a7a;
    outline: none;
  border: none;
  }
}



.btn-lock {
  position: flex;
  top: calc(50%);
  left: calc(50%);
  display: inline-block;
  background: #ff5b5b;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  padding: 10px 0 0 8px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.btn-lock svg {
  fill: none;
  transform: translate3d(0, 0, 0);
}
.btn-lock svg .bling {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 15;
  transition: all 0.3s ease;
}
.btn-lock svg .lock {
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 36;
  transition: all 0.4s ease;
}
.btn-lock svg .lockb {
  fill: #fff;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(8deg);
  transform-origin: 14px 20px;
  transition: all 0.2s ease;
}
#inpLock {
  display: none;
}
#inpLock:checked + label {
  background: #20cca5;
}
#inpLock:checked + label svg {
  opacity: 1;
}
#inpLock:checked + label svg .bling {
  animation: bling 0.3s linear forwards;
  animation-delay: 0.2s;
}
#inpLock:checked + label svg .lock {
  stroke-dasharray: 48;
  animation: locked 0.3s linear forwards;
}
#inpLock:checked + label svg .lockb {
  transform: rotate(0);
  transform-origin: 14px 22px;
}

@-moz-keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}
@-webkit-keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}
@-o-keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}
@keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}
@-moz-keyframes locked {
  50% {
    transform: translateY(1px);
  }
}
@-webkit-keyframes locked {
  50% {
    transform: translateY(1px);
  }
}
@-o-keyframes locked {
  50% {
    transform: translateY(1px);
  }
}
@keyframes locked {
  50% {
    transform: translateY(1px);
  }
}









