{% load static %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="{% static 'navbar.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/9765a82189.js" crossorigin="anonymous"></script>
{%block content%}
<nav class="site" style="background-color: lightgray " >
    <span class="header"></span> <a href="/social/" style="align-self: center;text-decoration:none; margin-left: 8%; margin-right: 10%;"><h2>[ iBoda ]</h2></a>
    <div id="search" style="margin: auto">
        <form class="d-flex" method="GET" action="{% url 'friends-search' request.user.profile.pk%}" style="margin: auto">
        <div class="input-group" >
          <input  style=" "class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" type="text" name="name" value="{{ request.GET.name }}">
          <button class="remove-default-btn" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
    {% if user.is_authenticated %}
    <div> 
      <a title="Feed" href="/social/"><i style="color:black" class="fas fa-home"></i></a>
      <a title="Eventos Populares" href="{% url 'friends' request.user.profile.pk%}"><i class="fa-solid fa-user-group" style="color:black"></i></a>
      <a title="Eventos Populares" href="#"><i class="fa-solid fa-bell" style="color:black"></i></a>
      <a title="Eventos Populares" href="{% url 'popular-posts' %}"><i style="color:orangered;" class="fa-solid fa-fire"></i></a>
      
      <span id="span-nav"></span>
      <a title="Eventos Favoritos" href="{% url 'fav-posts' request.user.profile.pk %}"><i style="color:yellow ;" class="fas fa-star"></i></a>
      <a title="Eventos Guardados" href="{% url 'saved-posts' request.user.profile.pk %}"><i style="color:black"class="fa fa-bookmark-o"></i></a>
      <a title="Eventos Que Fui" href="{% url 'liked-posts' request.user.profile.pk %}"><i class="fa-solid fa-circle-check" style="color:green"></i></a><a title="Log Out" href="/accounts/logout"><i class="fa-solid fa-right-from-bracket" style="color:black"></i></a>
      <a title="Perfil" href="{% url 'profile' request.user.profile.pk %}"><i  style="color:black" class="fa fa-user-o"></i></a>

      
    </div>
    {% endif %}
</nav>
<div class="container">
	<div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'friends' request.user.profile.pk %}" class="btn btn-light">Back to Friends</a>
        </div>
    </div>



<body id="post-list-bg">
    
    	{%for user1 in user_list%}
        {% if is_user%}
    	<div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 position-relative my-3">
                <a href="{% url 'profile' user1.pk %}" class="post-link"><img class="rounded-circle post-img" height="60" width="60" src="{{ user1.profile.picture.url }}" /></a>
                <a href="{% url 'profile' user1.pk %}" class="post-link"><h5 class="mt-3">@{{ user1.username }}</a> - {{user1.profile.name}}</h5>
                
                <a href="{% url 'profile' user1.pk %}" class="post-link"><h5 class="mt-3"><button class="btn btn-outline-success" type="submit">Visit Profile</button></a>

                
            </div>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 position-relative my-3">
                <a href="{% url 'profile' user1.pk %}" class="post-link"><img class="rounded-circle post-img" height="60" width="60" src="{{ user1.profile.picture.url }}" /></a>
                <a href="{% url 'profile' user1.pk %}" class="post-link"><h5 class="mt-3">@{{ user1.username }}</a> - {{user1.profile.name}}</h5>
            
                
                <a href="{% url 'profile' user1.pk %}" class="post-link"><h5 class="mt-3"><button class="btn btn-outline-success" type="submit">Visit Profile</button></a>
                
                
            </div>
        </div>

        {% endif %}

    	{%endfor%}
</body>


    
    





{%endblock content%}