{% extends 'landing/navbar.html' %}
{% load static %}
<link href="{% static 'navbar.css' %}" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="{% static 'style.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/9765a82189.js" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/9765a82189.js" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>