{% load static %}
{% include 'landing/navbar.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="{% static 'style.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/9765a82189.js" crossorigin="anonymous"></script>

{% block content %}
<body id="post-list-bg">
    <div class="container" >
        

        <div class="row justify-content-center mt-5 mb-10">
            <div class="col-md-6 col-sm-12" >
                {% if user.is_authenticated %}
                <button id="modal-button" > <span>Criar um evento!</span></button>
                {% else %}
                <button id="modal-button-no-login" onclick="window.location.href='/accounts/signup'">Criar um evento!</button>
                {% endif %}
                <form method="POST" class="post-form" id="post-form" enctype="multipart/form-data"style="margin-top: 10 %; border-radius: 20 px; display: none;">
                    {% csrf_token %}
                    
                    

                    <label id="post-label">
                    <input id ="post-input"  type="text" placeholder="Título do Evento" name="title"/>
                    </label>

                    <label id="post-label">
                    <textarea name="body" id="post-input" style="height: 170px; border-radius:7px" form="post-form" placeholder="Descrição do Evento"></textarea>
                    
                    </label>

                    <label id="post-label" id="post-input-dropdown">
                        <p style=" content: '\25b6'"><strong>Selecione uma cidade:</strong></p>
                      <select name="city" placeholder="Local do Evento" id="post-input-dropdown" >
                        <option value="Alcobaça">Alcobaça</option>
                        <option value="Almada">Almada</option>
                        <option value="Amadora">Amadora</option>
                        <option value="Aveiro">Aveiro</option>
                        <option value="Barreiro">Barreiro</option>
                        <option value="Beja">Beja</option>
                        <option value="Braga">Braga</option>
                        <option value="Bragança">Bragança</option>
                        <option value="Cartaxo">Cartaxo</option>
                        <option value="Chaves">Chaves</option>
                        <option value="Coimbra">Coimbra</option>
                        <option value="Elvas">Elvas</option>
                        <option value="Espinhos">Espinhos</option>
                        <option value="Évora">Évora</option>
                        <option value="Faro">Faro</option>
                        <option value="Fátima">Fátima</option>
                        <option value="Funchal">Funchal</option>
                        <option value="Fundão">Fundão</option>
                        <option value="Gouveia">Gouveia</option>
                        <option value="Guarda">Guarda</option>
                        <option value="Leiria">Leiria</option>
                        <option value="Lisboa">Lisboa</option>
                        <option value="Loures">Loures</option>
                        <option value="Maia">Maia</option>
                        <option value="Mirandela">Mirandela</option>
                        <option value="Moura">Moura</option>
                        <option value="Penafiel">Penafiel</option>
                        <option value="Pinhel">Pinhel</option>
                        <option value="Portalegre">Portalegre</option>
                        <option value="Portimão">Portimão</option>
                        <option value="Porto">Porto</option>
                        <option value="Praia da Vitória">Praia da Vitória</option>
                        <option value="Queluz">Queluz</option>
                        <option value="Ribeira Grande">Ribeira Grande</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="Santana">Santana</option>
                        <option value="São Pedro do Sul">São Pedro do Sul</option>
                        <option value="Seia">Seia</option>
                        <option value="Setúbal">Setúbal</option>
                        <option value="Sintra">Sintra</option>
                        <option value="Tavira">Tavira</option>
                        <option value="Tomar">Tomar</option>
                        <option value="Trancoso">Trancoso</option>
                        <option value="Trofa">Trofa</option>
                        <option value="Viana do Castelo">Viana do Castelo</option>
                        <option value="Vila Nova de Gaia">Vila Nova de Gaia</option>
                        <option value="Vila Real">Vila Real</option>
                      </select>
                    </label>

                    <label id="post-label" id="post-input-dropdown">
                        <p><strong>Selecione um grupo de idades do público alvo: </strong></p>
                      <select name="age" placeholder="Idade do Público Alvo"  id="post-input-dropdown">
                        <option value="Todas as idades">Todas as idades</option>
                        <option value="+18">+18</option>
                        <option value="+25">+25</option>
                        <option value="+40">+40</option>
                      </select>
                    </label>

                    <label id="post-label" id="post-input-dropdown">
                        <p><strong>Selecione um tipo de música: </strong></p>
                      <select name="music" placeholder="Tipo de Música do Evento"  id="post-input-dropdown">
                        <option value="Todos os géneros">Todos os géneros</option>
                        <option value="Techno">Techno</option>
                        <option value="Jazz">Jazz</option>
                        <option value="80's">80's</option>
                        <option value="Hip-Hop">Hip-Hop</option>
                        <option value="Funk">Funk</option>
                      </select>
                    </label>

                    <label id="post-label">

                    <input id ="post-input"  type="file" placeholder="Foto do Cartaz" name="image"/>
                    </label>

                    <label id="post-label">

                    <input id ="post-input"  type="url" placeholder="URL para compra de bilhetes" name="url"/>
                    </label>

                    <label  id="post-label"style="margin-bottom: 10 % ;">

                    <input id ="post-input"  type="date" placeholder="Data do Evento" name="date"/>
                    </label>


                    
                    <div class="d-grid gap-2">
                        <button id="post-button" style="color:#666;
                                                      height:50px;
                                                      width:100%;
                                                      font-size: 13px;
                                                      margin-bottom: 20px;
                                                      border-radius: 50px;
                                                      border:0;
                                                      box-shadow: 0px 3px 8px #aaa,
                                                      inset 5px 5px 15px 2px #fff,
                                                      inset -3px -5px 10px  #aaa,
                                                      0px -5px 10px 3px #fff;
                                                      background-color: #f2f2f2;
                                                      outline: none;
                                                      border: none;">Criar</button>
                    </div>
                </form>
            </div>
        </div>
        {% for post in post_list %}
        {% if post.approved %}
        <div class="row justify-content-center mt-10 " style="margin-top: 25px;">
            <div class="col-md-6 col-sm-12 position-relative" style="border-radius: 21px;
                                                                    background: #ebecf0;
                                                                    box-shadow:  -14px 14px 95px #868789,
                                                                                 14px -14px 95px #ffffff;">
                <div style="margin-top: 20px">
                    <a href="{% url 'profile' post.author.profile.pk %}" style=" text-decoration: none"><img style="float: left; margin-right: 6px; border-radius: 50%" class="round-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}"></a>
                </div>
                <p><strong>{{ post.title }}</strong> - {{ post.city }}
                
                    
                </p>
                <p><strong>Data do evento: </strong>  {{ post.date }}</p>
                <p><strong>Tipo de Música: </strong>  {{ post.music }}</p>
                <p><strong>Idade recomendada: </strong>  {{ post.age }}</p>

                    
                        
                        
                <div class="position-relative">
                        <p>{{ post.body }}</p>
                        {% if post.image %}
                        <img class="modal-content" id="img01" src="{{ post.image.url }}" style="max-width: 100%; height: auto; border-radius: 10px;margin-bottom: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" />
                        {% endif %}
                        <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                        
                        <br><small><strong><a href="{% url 'profile' post.author.profile.pk %}" style=" text-decoration: none">~{{ post.author }}</a>
                            {% if post.author.profile.verified  %}
                            <i class="fa-solid fa-certificate" style="color:gold;" text="verified"></i>
                            {% endif %}
                            
                        </small></strong><br><br>

                </div>
                    

                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}" id="like-post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                       
                        {% if request.user in post.likes.all %}<i class="fa fa-check" title="Eu Vou!" id="like-dado" > </i>
                        {% else %}<i class="fa fa-check" title="Eu Vou!" id="sem-like" style=""></i>
                        {% endif %}
                        <span style="font-family: 'Trebuchet MS', sans-serif;">{% if post.likes.all.count != 1 and post.likes.all.count != 0 %}
                            <strong>{{ post.likes.all.count }} Pessoas vão</strong></span><br>
                        {% elif post.likes.all.count != 0 %}
                            <strong>{{ post.likes.all.count }} Pessoa vai</strong></span><br>
                        {% else %}
                        {% endif %}
                        </button>
                    </form>
                    <form method="POST" action="{% url 'report' post.pk %}" id="report-post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                           
                            {% if request.user in post.reports.all %}<i class="fa-solid fa-flag" title="unreport" style="color:red;" style="align-self: right;"></i>
                            {% else %}<i class="fa-solid fa-flag" style="color: gray" title="report"> </i>
                            {% endif %}
                            </button>
                    </form>
                    <form method="POST" action="{% url 'save' post.pk %}" id="save-post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                           
                            {% if request.user in post.saves.all %}<i class="fa-solid fa-bookmark" title="Não Guardar" style="color: gold;"></i>
                            {% else %}<i class="fa-solid fa-bookmark" title="Guardar" style="color: gray;"></i>
                            {% endif %}
                            </button>
                    </form>
                    <form method="POST"  id="fav-post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="pk" value="{{ post.pk }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                           
                            {% if request.user in post.favs.all %}<i style="color:gold ;" class="fas fa-star"></i>
                            {% else %}<i style="color:gray ;" class="fas fa-star"></i>
                            {% endif %}
                            </button>
                    </form>
                    {% if post.url %}
                    
                            
                            
                            <button id="bilhetes" title="Bilhetes" style="border: none;background-color: transparent; color: orange; margin-bottom:auto;" onclick="window.location.href='{{ post.url }}'">
                                           
                            <i class="fa-solid fa-ticket"></i>
                            </button>
                    
                    {% endif %}

                    
                </div>
                
            </div>
            
        </div>
        {% endif %}
        {% endfor %}
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var modal = document.getElementById("modal-button")
    var form = document.getElementById("post-form")
    modal.onclick = function(){
        if (form.style.display != "none"){
            form.style.display = "none";
        }else{
            form.style.display = "block"
        }
        
    }

    $(document).on('submit','#fav-post',function(e){
        e.preventDefault();
        pkey = $(this).children('input')[2].value;
        $.ajax({
            type:'POST',
            url:"/social/post/"+pkey+"/fav",
            data:{
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log(pkey);
            },
            error: function(response){
                console.log(pkey);
            }
        });
    });

</script>


{% endblock content %}
