


{% load static %}

<!DOCTYPE html>

<link href="{% static 'style_new.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBoda</title>
    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <!-- STYLESHEET -->
    
</head>
<body> 
    <nav>
        <div class="container">
            <h2 class="log">
                [ iBoda ]
            </h2>
            <h2 class="logr">
                iBoda
            </h2>
            
                
                <form class="d-flex" method="GET" action="{% url 'all-search' %}">
                    
                      <input  class="form-control"  placeholder="Artistas & Eventos..." aria-label="Username" aria-describedby="basic-addon1" type="text" name="words" value="{{ request.GET.words }}">
                    
                      <input  class="form-control"  placeholder="Data" aria-label="Username" aria-describedby="basic-addon1" type="date" name="date" value="{{ request.GET.date }}">
                    
                      <select  id="post-input-dropdown-nav" name="city" type="local" class="form-control" placeholder="Local" aria-describedby="basic-addon1" name="city" value="{{ request.GET.city }}">
                        <option value="">Cidade</option>
                        <option value="Alcobaça">Alcobaça</option>
                        <option value="Almada">Almada</option>
                        <option value="Amadora">Amadora</option>
                        <option value="Aveiro">Aveiro</option>
                        <option value="Barreiro">Barreiro</option>
                        <option value="Beja">Beja</option>
                        <option value="Braga">Braga</option>
                        <option value="Bragança">Bragança</option>
                        <option value="Cartaxo">Cartaxo</option>
                        <option value="Chaves">Chaves</option>
                        <option value="Coimbra">Coimbra</option>
                        <option value="Elvas">Elvas</option>
                        <option value="Espinhos">Espinhos</option>
                        <option value="Évora">Évora</option>
                        <option value="Faro">Faro</option>
                        <option value="Fátima">Fátima</option>
                        <option value="Funchal">Funchal</option>
                        <option value="Fundão">Fundão</option>
                        <option value="Gouveia">Gouveia</option>
                        <option value="Guarda">Guarda</option>
                        <option value="Leiria">Leiria</option>
                        <option value="Lisboa">Lisboa</option>
                        <option value="Loures">Loures</option>
                        <option value="Maia">Maia</option>
                        <option value="Mirandela">Mirandela</option>
                        <option value="Moura">Moura</option>
                        <option value="Penafiel">Penafiel</option>
                        <option value="Pinhel">Pinhel</option>
                        <option value="Portalegre">Portalegre</option>
                        <option value="Portimão">Portimão</option>
                        <option value="Porto">Porto</option>
                        <option value="Praia da Vitória">Praia da Vitória</option>
                        <option value="Queluz">Queluz</option>
                        <option value="Ribeira Grande">Ribeira Grande</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="Santana">Santana</option>
                        <option value="São Pedro do Sul">São Pedro do Sul</option>
                        <option value="Seia">Seia</option>
                        <option value="Setúbal">Setúbal</option>
                        <option value="Sintra">Sintra</option>
                        <option value="Tavira">Tavira</option>
                        <option value="Tomar">Tomar</option>
                        <option value="Trancoso">Trancoso</option>
                        <option value="Trofa">Trofa</option>
                        <option value="Viana do Castelo">Viana do Castelo</option>
                        <option value="Vila Nova de Gaia">Vila Nova de Gaia</option>
                        <option value="Vila Real">Vila Real</option>
                      </select>
                   
                    <button class="button-search" type="submit"><i class="uil uil-search"></i></button>
                    
                  </form>
                  





            
                  <div class="create">
                    <a href="{% url 'create-post' %}"><label class="btn btn-primary" for="create-post">Create</label></a>
                    <a href="{% url 'profile' request.user.profile.pk %}">
                        <div class="profile-photo">
                            <img src="{{ request.user.profile.picture.url }}">
                        </div>
                    </a>
                    <!-- menu button to show sidebar -->
                    <button id="menu-btn"><i class="uil uil-bars"></i></button>
                </div>
        </div>
    </nav>

    <!------------------------- MAIN -------------------------->
    <main>
        <div class="container">
            <!--======================== LEFT ==========================-->
            <div class="left">
                <a class="profile active" href="{% url 'profile' request.user.profile.pk %}">
                    <div class="profile-photo">
                        <img src="{{ request.user.profile.picture.url }}">
                    </div>
                    <div class="handle">
                        <h4>{{ request.user.profile.name }}</h4>
                        <p class="text-muted">
                            @{{ request.user.username }}
                        </p>
                    </div>
                </a>

                <!-- close button -->
                <span id="close-btn"><i class="uil uil-multiply"></i></span>

                <!-------------------- SIDEBAR ------------------------->
                <div class="sidebar" >
                    <a class="menu-item" href="/social/" style="color: aliceblue;">
                        <span><i class="uil uil-home"></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item" href="{% url 'popular-posts' %}" style="color: aliceblue;">
                        <span><i class="uil uil-fire"></i></span><h3 style="color: aliceblue;" >Popular</h3>
                    </a>
                    <a class="menu-item" href="{% url 'follow-requests' request.user.profile.pk%}" id="notifications">
                        <span><i class="uil uil-bell">{%if notis != 0%}<small class="notification-count">{{notis}}</small>{%endif%}</i></span><h3 style="color: aliceblue;">Notifications</h3>
                    </a>
                    <a class="menu-item" id="messages-notification" href="{% url 'friends' request.user.profile.pk%}">
                        <span><i class="uil uil-users-alt"></i></span><h3 style="color: aliceblue;">Amigos</h3>
                    </a>
                    <a class="menu-item" href="{% url 'saved-posts' request.user.profile.pk %}">
                        <span><i class="uil uil-bookmark"></i></span><h3 style="color: aliceblue;">Bookmarks</h3>
                    </a>
                    <a class="menu-item" href="{% url 'liked-posts' request.user.profile.pk %}">
                        <span><i class="uil uil-check-circle"></i></span><h3 style="color: aliceblue;">Eventos Idos</h3>
                    </a>
                    <a class="menu-item" href="{% url 'fav-posts' request.user.profile.pk %}">
                        <span><i class="uil uil-star"></i></span><h3 style="color: aliceblue;">Favoritos</h3>
                    </a>
                    <a class="menu-item" href="{% url 'feedback' %}">
                        <span><i class="uil uil-feedback"></i></span><h3 style="color: aliceblue;">Feedback</h3>
                    </a>
                    <a class="menu-item" href="/accounts/logout">
                        <span><i class="uil uil-exit"></i></span><h3 style="color: aliceblue;">Log out</h3>
                    </a>                        
                </div>
                <!------------------- END OF SIDEBAR -------------------->
                
            </div>
            <!------------------- END OF LEFT -------------------->



            <!--======================== MIDDLE ==========================-->
            <div class="middle">
                <h1>Profile - @{{profile.user.username}}</h1>
                <!------------------- FEEDS --------------------->
                
                <style>
                    #back-profile {
                        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                        background-size: 400% 400%;
                        animation: gradient 15s ease infinite;
                    }

                    @keyframes gradient {
                        0% {
                            background-position: 0% 50%;
                        }
                        50% {
                            background-position: 100% 50%;
                        }
                        100% {
                            background-position: 0% 50%;
                        }
                    }
                </style>
                <div class="feeds" >
                    <div class="feed" id="back-profile" style="background-color: violet;">
                    <div >
                        {% if request.user == user %}
                                <a href="{% url 'profile-edit' profile.pk %}"  class="text-right" >
                                <img src= "{{ profile.picture.url }}" style="height: 120px;
                        width: 120px;
                        border-radius: 50%;
                        align-self:center;
                        margin:auto;
                        
                        border: 1px solid #1f1a32;
                        padding: 7px;
                        background: #292343;
                        " /></a>
                        {% else %}
                        <img src= "{{ profile.picture.url }}" style="height: 120px;
                        width: 120px;
                        border-radius: 50%;
                        align-self:center;
                        margin:auto;
                        
                        border: 1px solid #1f1a32;
                        padding: 7px;
                        background: #292343;
                        " />
                        {% endif %}


                        
                        <br>
                        <h2>{{ profile.name }} - @{{ profile.user.username}}{% if profile.public %}{% else %}<i class="uil uil-lock"></i>{% endif %} {% if profile.city %}<br><small style="color: lightgray ;"> Cidade: <b>{{ profile.city }}</b></small>{% endif %}</h2>
                                
                            
                        {% if request.user == user %}
                                <a href="{% url 'profile-edit' profile.pk %}"  class="text-right" >Editar Perfil</a>
                                {% endif %}
                        <br>
                        {% if fav_counter %}
                        <h4 class="col-md-2 col-sm-1"  style="margin: auto;">
                            {{ fav_counter }} Favs Recebidos
                        </h4>
                        {% endif %}

                        
                        
                        

                        <a href="{% url 'list-following' profile.pk %}"  class="col-md-2 col-sm-1"  style="display:right;margin-right: 2%; justify-content: space-between;">
                            
                            {% if nfollowing != 1 %}
                            <h4  style="display:inline-block;"><strong>{{ nfollowing }} Following  </strong></h4>
                            {% else %}
                            <h4 style="display:inline-block;"><strong>{{ nfollowing }} Following  </strong></h4>
                            {% endif %}
                    </a>
                        |
                        
                        <a href="{% url 'list-followers' profile.pk %}"  class="col-md-2 col-sm-1"  style="display:left;margin-left: 2%; justify-content: space-between;">
                            
                                {% if n_followers != 1 %}
                                <h4  style="display:inline-block;"><strong>{{ n_followers }} Followers </strong></h4>
                                {% else %}
                                <h4 style="display:inline-block;"><strong>{{ n_followers }} Follower </strong></h4>
                                {% endif %}
                        </a>
                        
                        <style>
                            .bn54 {
                            position: relative;
                            outline: none;
                            text-decoration: none;
                            border-radius: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            text-transform: uppercase;
                            height: 45px;
                            width: 130px;
                            opacity: 1;
                            background-color: #ffffff;
                            border: 1px solid rgba(0, 0, 0, 0.6);
                            }

                            .bn54 .bn54span {
                            font-family: "Poppins", sans-serif;
                            color: #ffffff;
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: 0.7px;
                            }

                            .bn54:hover {
                            animation: bn54rotate 0.7s ease-in-out both;
                            }

                            .bn54:hover .bn54span {
                            animation: bn54storm 0.7s ease-in-out both;
                            animation-delay: 0.06s;
                            }

                            @keyframes bn54rotate {
                            0% {
                                transform: rotate(0deg) translate3d(0, 0, 0);
                            }
                            25% {
                                transform: rotate(3deg) translate3d(0, 0, 0);
                            }
                            50% {
                                transform: rotate(-3deg) translate3d(0, 0, 0);
                            }
                            75% {
                                transform: rotate(1deg) translate3d(0, 0, 0);
                            }
                            100% {
                                transform: rotate(0deg) translate3d(0, 0, 0);
                            }
                            }

                            @keyframes bn54storm {
                            0% {
                                transform: translate3d(0, 0, 0) translateZ(0);
                            }
                            25% {
                                transform: translate3d(4px, 0, 0) translateZ(0);
                            }
                            50% {
                                transform: translate3d(-3px, 0, 0) translateZ(0);
                            }
                            75% {
                                transform: translate3d(2px, 0, 0) translateZ(0);
                            }
                            100% {
                                transform: translate3d(0, 0, 0) translateZ(0);
                            }
                            }
                        </style>




                        {% if user == request.user %}

                        
                        {% elif is_following%}
                            {% if is_requesting == False%}
                                <form method="POST" action="{% url 'remove-follower' profile.pk %}" class="col-md-2 col-sm-1" style="margin-top: 3%;">
                                    {% csrf_token %}
                                    <button class="bn54" style="background-color: rgb(124, 42, 42);"type="submit"><span class="bn54span">Unfollow</span></button>
                                </form>
                            {% else %}
                                <form method="POST" action="{% url 'add-follower' profile.pk %}" class="col-md-2 col-sm-1" style="margin-top: 3%;">
                                    {% csrf_token %}
                                    <button class="bn54" style="background-color: rgb(48, 83, 95);" type="submit"><span class="bn54span">Pending...</span></button>
                                </form>
                            {% endif %}

                        {% else %}
                            {% if is_requesting == False %}
                                <form method="POST" action="{% url 'add-follower' profile.pk %}" style="margin-top: 3%;">
                                    {% csrf_token %}
                                    <button class="bn54" style="background-color: rgb(15, 150, 15);" type="submit"><span class="bn54span">Follow</span></button>
                                </form>  
                            {% else %}
                                <form method="POST" action="{% url 'add-follower' profile.pk %}" class="col-md-2 col-sm-1" style="margin-top: 3%;">
                                    {% csrf_token %}
                                    <button class="bn54" style="background-color: rgb(52, 84, 94);" type="submit"><span class="bn54span">Pending...</span></button>
                                </form>
                            {% endif %}


                        {% endif %}
                    </div>
                </div>

                <div class="feeds">
                    {% for post in posts %}
                        {% if post.author == request.user or is_following or post.public %}
                                <div class="feed">
                                    <div class="head">
                                        <div class="user">
                                            <div class="profile-photo">
                                                <img src="{{ post.author.profile.picture.url }}">
                                            </div>
                                            <div class="ingo">
                                                <a href="{% url 'profile' post.author.profile.pk %}"><h3>{{ post.author.profile.name }} {% if post.public %}{% else %}<i class="uil uil-lock"></i>{% endif %}</h3></a>
                                                <small>{{ post.created_on }}</small>
                                            </div>
                                            

                                        </div>
                                        {%if post.author == request.user%}
                                            <span class="edit">
                                                <a href="{% url 'post-delete' post.pk %}"><i class="uil uil-trash-alt" style="color: red;"></i></a>
                                            </span>
                                        {% else %}
                                            <div class="bookmark">
                                                <form method="POST" id="report-post" style="display: inline-block;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="next" value="{{ request.path }}">
                                                    <input type="hidden" name="pk" value="{{ post.pk }}">
                        
                                                    <button style="background-color: transparent;outline: none; border: none; box-shadow: none;cursor: pointer;" type="submit">
                        
                                                                
                        
                                                    {% if request.user in post.reports.all %}
                                                    <i id="no-report{{ post.pk }}" style="color:gray ;display: none;font-size: 200%;" class="uil uil-exclamation-circle"></i>
                                                    <i id="reported{{ post.pk }}" style="color:darkred ;font-size: 200%;" class="uil uil-exclamation-circle"></i>
                                                    {% else %}
                                                    <i id="reported{{ post.pk }}" style="color:darkred ;display: none;font-size: 200%;" class="uil uil-exclamation-circle"></i>
                                                    <i id="no-report{{ post.pk }}" style="color:gray ;font-size: 200%; " class="uil uil-exclamation-circle"></i>
                                                    {% endif %}
                                                    </button>        
                                            </form>
                                            </div>
                                        {% endif %}
                                        </div>

                                    
                                        <div class="caption">
                                            <br>
                                            <h2>{{post.title}}</h2>
                                            <br>
                                            <p><u>Localidade:</u> <strong>{{ post.city }} - {{ post.date }}</strong></p>
                                            <p><u>Idade:</u> <strong>{{ post.age }}</strong></p>
                                            <p><u>Tipo de música:</u><strong> {{ post.music }}</strong></p><br><br>
                                            <p><b>@{{ post.author.username }} -</b> {{post.body}} </p>
                                        </div>
                                    {% if post.image %}
                                        <div class="photo">
                                            <img src="{{ post.image.url }}">
                                        </div>
                                    {% endif %}
                                    

                                    <div class="action-buttons">
                                        <div class="interaction-buttons" style="display: inline-block;">
                                                <form method="POST"  id="like-post" style="display: inline-block; color: aliceblue;" >
                                                    {% csrf_token %}
                                                    <input type="hidden" name="next" value="{{ request.path }}">
                                                    <input type="hidden" name="pk" value="{{ post.pk }}">
                                                    <input type="hidden" name="like-count" value="{{ post.likes_count }}">
                                                    
                                                    <button style="background-color: transparent;outline: none; border: none; box-shadow: none;cursor: pointer;" type="submit">
                        
                                                    
                                                    {% if request.user in post.likes.all %}
                                                    
                                                    <i id="no-like{{ post.pk }}" style="color:gray ;display: none;font-size: 200%;" class="uil uil-user-check"></i>
                                                    <i id="liked{{ post.pk }}" style="color:green ;font-size: 200%;" class="uil uil-user-check"></i>
                                                    {% else %}
                                                    
                                                    <i id="liked{{ post.pk }}" style="color:green ;display: none;font-size: 200%;" class="uil uil-user-check"></i>
                                                    <i id="no-like{{ post.pk }}" style="color:gray ;font-size: 200%;" class="uil uil-user-check"></i>
                                                    {% endif %}
                        
                                                    <div>
                                                        
                                                        
                                                    </div>
                        
                        
                        
                                                    </button>
                                                </form>
                               
                    
                                        
                    
                                        <form method="POST" id="save-post" style="display: inline-block;">
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="{{ request.path }}">
                                                <input type="hidden" name="pk" value="{{ post.pk }}">
                    
                                                <button style="background-color: transparent;outline: none; border: none; box-shadow: none;cursor: pointer;" type="submit">
                                                               
                    
                                                {% if request.user in post.saves.all %}
                                                <i id="no-save{{ post.pk }}" style="color:gray ;display: none;font-size: 200%;" class="uil uil-bookmark-full"></i>
                                                <i id="saved{{ post.pk }}" style="color:gold ;font-size: 200%;" class="uil uil-bookmark-full"></i>
                                                {% else %}
                                                <i id="saved{{ post.pk }}" style="color:gold ;display: none;font-size: 200%;" class="uil uil-bookmark-full"></i>
                                                <i id="no-save{{ post.pk }}" style="color:gray ;font-size: 200%; " class="uil uil-bookmark-full"></i>
                                                {% endif %}
                                                </button>
                                        </form>
                    
                                        <form method="POST"  id="fav-post" style="display: inline-block;">
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="{{ request.path }}">
                                                <input type="hidden" name="pk" value="{{ post.pk }}">
                    
                                                <button style="background-color: transparent;outline: none; border: none; box-shadow: none; cursor: pointer;" type="submit">
                    
                                                {% if request.user in post.favs.all %}
                                                <i id="no-fav{{ post.pk }}" style="color:gray ;display: none;font-size: 200%;" class="uil uil-star"></i>
                                                <i id="faved{{ post.pk }}" style="color:gold ;font-size: 200%;" class="uil uil-star"></i>
                                                {% else %}
                                                <i id="faved{{ post.pk }}" style="color:gold ;display: none;font-size: 200%;" class="uil uil-star"></i>
                                                <i id="no-fav{{ post.pk }}" style="color:gray ;font-size: 200%; " class="uil uil-star"></i>
                                                {% endif %}
                                                
                                                </button>
                                        </form>


                                            
                                            
                                            
                                            
                                            <a href="{% url 'post-detail' post.pk%}" style="color: gray;font-size: 200%; ;"><span><i class="uil uil-comment-dots"></i></span></a>
                                            {% if post.url %}<a href="{{ post.url }}" style="color: gray;font-size: 200%; ;"><span><i class="uil uil-ticket"></i></span></a>{% endif %}
                                        </div>
                                        
                                    </div>

                                    <div class="liked-by">
                                        
                                        <p><b>{% if post.likes_count > 0 %}{{ post.likes_count }}{% endif %}</b>{% if post.likes_count > 1 %} Pessoas vão {% elif post.likes_count == 1%} Pessoa vai {% else %}{% endif %}</p>
                                        
                                    </div> 
                                    
                                    
                                
                                
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    
                
                    <!---------------- END OF FEED ----------------->
                
                <!------------------------------- END OF FEEDS ------------------------------------>
            
            <!--======================== END OF MIDDLE ==========================-->


            <!--======================== RIGHT ==========================-->
            <div class="right">
                
                <!------------ FRIEND REQUESTS -------------->
                <div class="friend-requests">
                    <h4>Requests</h4>
                    <!----- REQUEST 1----->
                    {% if frequests%}
                        {% for frequest in frequests%}
                        <div class="request">
                            <div class="info">
                                <div class="profile-photo">
                                    <img src="{{ frequest.sender.profile.picture.url }}">
                                </div>
                                <div>
                                    <h5>{{ frequest.sender.profile.name }}</h5>
                                    <p class="text-muted">{{ frequest.sender.username }}</p>
                                </div>
                            </div>
                            <div class="action">
                                <form method="POST" action="{% url 'accept' request.user.pk frequest.sender.pk %}">
                                    {% csrf_token %}
                                    <button class="btn btn-primary" type="submit">Accept</button>
                                </form>
                                <form method="POST" action="{% url 'reject' request.user.pk frequest.sender.pk %}">
                                {% csrf_token %}
                                <button class="btn" type="submit">Decline</button>
                                </form>
                                
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="request">
                        No requests
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <!--====================== END OF RIGHT ==========================-->
        
    </main>

 <!--================================================ THEME CUSTOMIZATION =============================================-->
 <div class="customize-theme">
    <div class="card">
        <h2>Customize your view</h2>
        <p class="text-muted">Manage your font size, color, and background.</p>

        <!------------ FONT SIZES ------------->
        <div class="font-size">
            <h4>Font Size</h4>
            <div>
                <h6>Aa</h6>
            <div class="choose-size">
                <span class="font-size-1"></span>
                <span class="font-size-2"></span>
                <span class="font-size-3"></span>
                <span class="font-size-4"></span>
                <span class="font-size-5"></span>
            </div>
            <h3>Aa</h3>
            </div>
        </div>

        <!------------ PRIMARY COLORS ------------->
        <div class="color">
            <h4>Color</h4>
            <div class="choose-color">
            <span class="color-1 active"></span>
            <span class="color-2"></span>
            <span class="color-3"></span>
            <span class="color-4"></span>
            <span class="color-5"></span>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'pila.js' %}"></script>
<script>



    // Botão de Fav
    $(document).on('submit','#fav-post',function(e){
        e.preventDefault();
        
        pkey = $(this).children('input')[2].value;
        $.ajax({
            type:'POST',
            url:"/social/post/"+pkey+"/fav",
            data:{
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log(pkey);
                if (document.getElementById("no-fav" + pkey).style.display == "none"){
                    document.getElementById("no-fav" + pkey).style.display = "block"
                    document.getElementById("faved" + pkey).style.display = 'none';

                } else {
                    document.getElementById("no-fav" + pkey ).style.display = "none"
                    document.getElementById("faved" + pkey).style.display = 'block';
                }
                
            },
            error: function(response){
                console.log(pkey);
            }
        });
    });

    // Botão de Save

    $(document).on('submit','#save-post',function(e){
        e.preventDefault();
        
        pkey = $(this).children('input')[2].value;
        $.ajax({
            type:'POST',
            url:"/social/post/"+pkey+"/save",
            data:{
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log(pkey);
                if (document.getElementById("no-save" + pkey).style.display == "none"){
                    document.getElementById("no-save" + pkey).style.display = "block"
                    document.getElementById("saved" + pkey).style.display = 'none';

                } else {
                    document.getElementById("no-save" + pkey ).style.display = "none"
                    document.getElementById("saved" + pkey).style.display = 'block';
                }
                
            },
            error: function(response){
                console.log(pkey);
            }
        });
    });

    // Botão de Report


    $(document).on('submit','#report-post',function(e){
        e.preventDefault();
        
        pkey = $(this).children('input')[2].value;
        $.ajax({
            type:'POST',
            url:"/social/post/"+pkey+"/report",
            data:{
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                console.log(pkey);
                if (document.getElementById("no-report" + pkey).style.display == "none"){
                    document.getElementById("no-report" + pkey).style.display = "block"
                    document.getElementById("reported" + pkey).style.display = 'none';

                } else {
                    document.getElementById("no-report" + pkey ).style.display = "none"
                    document.getElementById("reported" + pkey).style.display = 'block';
                }
                
            },
            error: function(response){
                console.log(pkey);
            }
        });
    });

    // Botão de Ir
    
    $(document).on('submit','#like-post',function(e){
        e.preventDefault();
        
        
        pkey = $(this).children('input')[2].value;
        click_count = 0;
        $.ajax({
            type:'POST',
            url:"/social/post/"+pkey+"/like",
            data:{
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            
            success: function(response){
                console.log('success');
            },
            error: function(response){
                console.log('error');
                
            }
        });

    count = parseInt($(this).children('input')[3].value);
    count1 = document.getElementById('count'+pkey);
    count2 = document.getElementById('count'+pkey+'2');
    newcount = count;
    console.log(newcount)
    
    if (document.getElementById("no-like" + pkey).style.display == "none"){
            
            document.getElementById("no-like" + pkey).style.display = "flex"
            document.getElementById("liked" + pkey).style.display = 'none';
            count1.style.display = 'none';     
            count2.style.display = 'flex';
            console.log(newcount + ' -')
            if (newcount-1 > 0){
                if(newcount == 1){
                    newcount = 1
                }else{
                    newcount = newcount - 1;
                }
                

                if (newcount == count -2){
                    newcount = newcount + 2
            }
            }else{
                newcount = 0
            }
            count2.innerHTML = newcount
            
            
            
    } else {      
            document.getElementById("no-like" + pkey ).style.display = "none";
            document.getElementById("liked" + pkey).style.display = 'flex';     
            count1.style.display = 'none';  
            count2.style.display = 'flex';
            console.log(newcount + ' +')
            if (newcount == count +2){
                newcount = newcount - 1
            }
            if(newcount == 1){
                newcount = newcount+1
            }
            else{
                newcount++;
            }
            count2.innerHTML = newcount
            


                       
            
            
            
        }

    });






// SIDEBAR 
    const menuItems = document.getElementsByClassName('menu-item');


    // show sidebar
    const menuBtn = document.querySelector('#menu-btn');
    menuBtn.addEventListener('click', () => {
        document.querySelector('.left').style.display = 'block';
    })
    
    // hide sidebar
    const closeBtn = document.querySelector('#close-btn');
    closeBtn.addEventListener('click', () => {
        document.querySelector('.left').style.display = 'none';
    })
    
    
    
    
    // THE END</script>
</body>
</html>
{% endblock %}